.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

.slider {
  width: 100%;
  height: 38vh;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  object-fit: contain;
}

.slide {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap:10px;
  position: absolute;
  bottom: 0px;
  z-index: 1000;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}

.dotActive {
  width: 28px;
  height: 6px;
  border-radius: 25%;
  background-color: white;
}