  @font-face {
    font-family: 'Sofia';
    src: url('../asset/Sofia/Sofia\ Pro\ Regular\ Az.otf');
    font-weight: 400;
    font-style: normal;
    }

    .container { 
      background-color: #F5F7F6;
      font-family: 'Sofia';
      height: 95vh;
      width: 100vw;
    }