.container {
    padding: 15px 15px 0px 15px;
    background-image: url('../public/Confetti.svg');
    position: relative;
    height: calc(100vh - 15px);
    width: 100%;
}

.progress {
    padding: 10px 0px;
    margin-bottom: 15px;
}

.cardContainer {
    height: 85%;
    width: 100%;
    margin-top: -15px;
}

.cardStack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}


.card {
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    display: hidden;
}

.closebtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    height: 52px;
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.closebtn img {
    position: absolute;
}

.close {
    width: 25px;
    height: 25px;
}

.timer {
    color: white;
    background-color: black;
    padding: 20px 15px;
    border-radius: 15px 15px 10px 10px;
    background-size: cover;
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.focus {
    height: 90%;
}