.container {
    color: #B0B0B0;
    background-color: white;
    padding: 20px 15px;
    border-radius: 15px;
    background-image: url('../public/Quizcard-bg.svg');
    background-size: cover;
    height: 100%;
}

.container h1 {
    font-size: 24px;
    color: black;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
}

.option {
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgb(178 178 178 / 20%), 0 5px 10px 0 rgb(135 135 135 / 19%);
    color: black;
    background-color: white;
    font-size: 16px;
}

.correctOption {
    background-color: #96FFD3;
}

.inCorrectOption {
    background-color: #FF8DAF;
}